.header{
 font-family: Verdana;
 font-size: 14px;
 font-weight: bold;
 display: flex;
}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span{
  color: MediumAquamarine;
  display: flex;
  padding-left: 10px;
}

.navigation{
  display: flex;
  padding-right: 25px;
}
.navigation a{
  color: black;
}
nav span{
  display: inline-block;
  padding: 20px 10px;

}

.column{
  display: flex;
  border: 1px solid black;
  flex-direction: column;

}
.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
