.header{
 font-family: Verdana;
 font-size: 14px;
 font-weight: bold;
 display: flex;
}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span{
  color: MediumAquamarine;
  display: flex;
  padding-left: 10px;
}

.navigation{
  display: flex;
  padding-right: 25px;
}
.navigation a{
  color: black;
}
nav span{
  display: inline-block;
  padding: 20px 10px;

}

.column{
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  padding-top: 25px;
}

.column div{
  border: 1px solid black;
}
.large {
  width: 630px;
}

.medium {
  width: 300px;
}

.small {
  width: 240px;
}

.large,
.medium,
.small{
  display: flex;
  flex-direction: column;
  margin-right: 20px;

}
.mainstory{
  background-image: url("../images/img-story-main.png");
}
.imgstory2{
  background-image: url("../images/img-story-2.png");
}
.imgstory3{
  background-image: url("../images/img-story-3.png");
}
.cat{
  background-image: url("../images/img-story-1.png");
}


.column span{
 font-family: Georgia;
 font-weight: bold;
 font-size: 30px;
 color: white;
 padding: 60px 20px;
 text-align: center;
}
span.mainstory{
  font-size: 40px;
  text-align: left;
}
